@charset "utf-8";
/* CSS Document */

.container {
	width:70%;
	margin: 0 auto;
	position: relative;
}

img {
	width:100%;
	height: auto;
}

.box1 {
	position:absolute;
	right:5px;
	top: 40px;
	background-color: cornflowerblue;
}

.box2 {
	position:fixed;
	top:0;
	left:30px;
	background-color: dodgerblue;
	padding: 20px 50px;
}

.insidebox2 {
	background-color:azure;
	
}