@charset "utf-8";
/* CSS Document */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	margin: 0;
	background-color: #00abe6;
}


.container {
    width: 908px;
    background-color: transparent;
}

.header {
    height: 67px;
    background-color: #000000;
}

.bar {
    height: 31px;
    background-color: #3a0000;
    margin-top: 20px;
}

.spacer {
    height: 31px;
}

.content {
    display: flex;
    justify-content: space-between;
    background-color: #00abe6;
    padding: 0 0;
}

.column1 {
    width: 207px;
    height: 382px;
    background-color: #efefe2;
    border: 2px solid transparent;
}

.column2 {
    width: 207px;
    height: 382px;
    background-color: #11315b;
    border: 2px solid transparent;
}

.column3 {
    width: 207px;
    height: 382px;
    background-color:#e2c0cc;
    border: 2px solid transparent;
}

.column4 {
    width: 207px;
    height: 382px;
    background-color:#2c577e;
    border: 2px solid transparent;
}

.footer {
    height: 55px;
    background-color: #063146;
    margin-top: 10px;
}










